:root {
  /* colors */

  --cool-yellow: #ffbb00;
  --gray: #8a8a8a;
  --just-black: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}
/* Navbar general */
.container {
  width: 70%;
  margin: auto;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.btn-orange {
  background-color: #ffbb00;
  color: #ffffff;
  border: 2px solid transparent;
}
.btn-transparent {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.mb {
  margin-bottom: 2rem;
}
.bg-header {
  background: url(img/rektangle_1.svg);
  background-repeat: no-repeat;
  background-size: 300vh;
  background-position-y: 110%;
  background-position-x: 30%;
}
/* Navbar general */

.ec-logo {
  width: 68%; /* 1309px/1920px */
  margin-left: 294px;
  padding: 9.5rem 0;
}
.ec-logo img {
  margin-left: 119px;
}

/* TOP-NAV START */
.top-nav {
  padding-top: 2rem;
}
.top-nav a,
.nav-link {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  padding: 0.7rem;
  display: inline-block;
  position: relative;
}
.nav-link a:hover {
  color: orange;
}
.nav-link:hover::after {
  content: "";
  border-bottom: 2px solid orange;
  position: absolute;
  left: 1rem;
  right: 1.5rem;
  bottom: 0.7rem;
}
/* TOP-NAV END */
/* NAVBAR START */
.navbar {
  color: #ffffff;
}
.section-btn {
  display: flex;
  align-items: center;
}
.watch-video img {
  margin: 0 0.6rem 0 1rem;
}
.mobile {
  height: 35rem;
}
/* NAVBAR END */
/* carousle -- start */
.app_screen-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel_container {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin: 0 auto;
}

.carousel_container img {
  height: 380px;
}
/* carousle -- end */
