:root {
  /* colors */

  --cool-yellow: #ffbb00;
  --gray: #8a8a8a;
  --just-black: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Navbar general */
.container {
  width: 70%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.button {
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.button-orange {
  background-color: #ffbb00;
  color: #ffffff;
  border: 2px solid transparent;
}
.button-transparent {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.margin-bottom {
  margin-bottom: 2rem;
}
.bg-header {
  background-image: url(../img/rektangle_1.svg);
  background-repeat: no-repeat;
  /* background-size: 300vh; */
  background-position-y: 92%;
  background-position-x: 30%;
}
/* Navbar general */

/* START --EC-Logo -- Magnus Ljung */
.ec-logo {
  margin: 8rem 0;
}
.ec-logo .about-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 3rem;
}
/* END --EC-Logo -- Magnus Ljung*/

/* START --About Us-- Magnus Ljung*/
#About-Us {
  margin: 8rem 0;
}
.about-container {
  width: 100%;
  max-width: 1309px;
  margin: auto;
  /* margin-left: 15rem; */
}
#About-Us .about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-bg {
  min-width: 567px;
  background-image: url(../img/bg-about-us.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-wrapper {
  max-width: 570px;
  margin-left: 2rem;
}
.about-head {
  display: inline-block;
  background-color: #ffbb0026;
  padding: 0.4rem 1rem;
  border-radius: 7px;
}
.about-head p {
  margin: 0;
  font-size: 14px;
  color: #ffbb00;
}
.about-heading h1 {
  margin: 0;
  margin-top: 1.2rem;
  font-size: 40px;
  color: #333333;
  font-weight: 900;
  letter-spacing: 2px;
}
.about-text p {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  color: #8a8a8a;
  line-height: 30px;
}
.btn-flex {
  display: flex;
}
.getApp-btn {
  margin-right: 20px;
  background-color: #f8f8f8;
  border: 1px transparent;
  border-radius: 12px;
  height: 80px;
  width: 232px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn-image {
  margin: 0 1.5rem;
}
.btn-text {
  text-align: start;
}
.btn-text small {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #6b6b6b;
}
.btn-text p {
  margin-top: 0.4rem;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #111;
}
/* END --About Us-- Magnus Ljung */

/* TOP-NAV START */
.top-nav {
  padding-top: 2rem;
}
.top-nav a,
.nav-link {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  padding: 0.7rem;
  display: inline-block;
  position: relative;
}
.nav-link a:hover {
  color: orange;
}
.nav-link:hover::after {
  content: "";
  border-bottom: 2px solid orange;
  position: absolute;
  left: 1rem;
  right: 1.5rem;
  bottom: 0.7rem;
}
/* TOP-NAV END */
/* NAVBAR START */
.nav-bar {
  color: #ffffff;
}
.section-btn {
  display: flex;
  align-items: center;
}
.watch-video img {
  margin: 0 0.6rem 0 1rem;
}
.mobile {
  height: 35rem;
}
/* NAVBAR END */
/* carousle -- start */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content_title {
  font-weight: 600;
  line-height: 50px;
  color: var(--just-black);
}

.content_text {
  color: var(--gray);
  font-size: small;
}

.carousel_container {
  max-width: 1440px;
  margin: auto;
  /* display: grid; */
  /* width: 80%;
  padding-top: 70px;
  padding-bottom: 100px; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* justify-items: center;
  margin: 0 auto; */
}

.carousel_container img {
  /* height: 380px; */
  transition: all 300ms ease;
}

.carousel_container img:hover {
  /* height: 450px;  */
  transform: scale(1.2);
  cursor: pointer;
}

/* SWIPER START */
.swiper {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /* width: 300px; */
  height: 450px;
  width: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/* SWIPER END */

.app_stats {
  background-image: url(../img/world.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
  padding-top: 25px;
}

.stats {
  display: flex;
  width: 60%;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 55px;
}

.stats h2 {
  color: #3096fe;
}

.stats p {
  font-size: large;
  font-weight: 500;
  color: var(--just-black);
}
/* carousle -- end */
/* footer -- start */
footer {
  text-align: center;
  color: #fff;
  padding: 20px;
  bottom: 0;
  width: 100%;
}
.footer-1 {
  background-image: url("../img/Bg.svg");
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 2rem;
  color: #fff;
}
.logo {
  margin: auto;
  padding: 0 auto 0.5rem;
}
.footer_content {
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem;
  list-style: none;
}
.footer_content li {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.footer_content a {
  color: #fff;
  text-decoration: none;
  grid-column: 7px;
  padding: 18px 20px;
}

.footer_content {
  margin: 0;
  padding: 1rem auto 0rem;
}

/* media query */

/* START - MAGNUS */
@media (max-width: 1400px) {
  .about-container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .about-container {
    max-width: 960px;
  }
  .about-bg {
    display: none;
  }
  .text-wrapper {
    margin: 0;
    max-width: none;
    text-align: center;
  }
  .btn-flex {
    justify-content: center;
  }
  .ec-logo {
    display: none;
  }
}
@media (max-width: 992px) {
  .about-container {
    max-width: 720px;
  }
}
/* END - MAGNUS */
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  /* START - Magnus */
  .about-container {
    max-width: 540px;
  }
  /* END - Magnus */
}
/* @media (max-width: 576px) {
  
} */
@media (max-width: 375px) {
  .container {
    max-width: 320px;
  }
}

<<<<<<< HEAD
/* rohny */
@media (max-width: 450px) {
}
=======


>>>>>>> 991c87e8c217bee51b92fecf95076daca83e05a2
